<h2 class="popup">
	<%= image_tag 'popup/tit_h2_dir_check.gif', alt: 'Dirチェック中', width: 113, height: 18 %>
</h2>

<%= form_for(@new_action , :remote => true, html: { id: 'image-form', multipart: true }) do |f| %>
	 <%= hidden_field_tag :project_id, @project.id %>
	 <%= hidden_field_tag :pa_link_id, @project.pa_links.last.id %>
	 <%= hidden_field_tag :track, @start_time %>
	 <%= f.hidden_field :charge_name, value: @project.pa_links[-1].work.charge_name  %>
	 <% if @pa_link.work.present? %>
			<%= f.hidden_field :charge_name, value: @pa_link.work.check_name %>
	 <% end %>

	<table>
		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :check_name, '担当名:' %></div></div>
			</td>

			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if @pa_link.work.present? %>
							<%= @pa_link.work.check_name %>
						<% else %>
							<%= f.text_field :check_name %>
						<% end %>
					</div>
				</div>
			</td>

			<td>
				<div class="t_ht"><div class="txt"><%= f.label :estimation, '見込み工数:' %></div></div>
			</td>

			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if @pa_link.work.present? %>
							<%= f.text_field :estimation, value: @pa_link.work.estimation %>
						<% else %>
							<%= f.text_field :estimation, placeholder: 'h（修正がある場合)' %>
						<% end %>
					</div>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :contact, '修正事項:' %></div></div>
			</td>

			<td colspan = 3>
				<div class="d_ht">
					<div class="frm">
						<% if @pa_link.work.present? %>
							<%= f.text_area :contact, value: @pa_link.work.contact  %>
						<% else %>
							<%= f.text_area :contact%>
						<% end %>

					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td><div class="t_ht"><div class="txt"><label>添付：</label></div></div></td>
				<td colspan = 3>
				<div class="d_ht">
					<div class="frm">
						<%= f.file_field :attached_file %>
					</div>
				</div>
			</td>
		</tr>
	</table>
<!-- Radio -->
<div id="sts">
    <%= f.label '進捗：' %>
    <label>
      <%= radio_button_tag :process, '初稿確認出し中' %>
      <p class="nam">テストアップ</p>
    </label>

    <label>
      <%= radio_button_tag :process, '初稿内校戻し' %>
      <p class="nam">修正アリ</p>
    </label>
     <span id="p_error">Please check!</span>
</div>

<%= render partial:"popup/form_btn", locals: {f: f}%>   
<% end %>
