<h2 class="popup">	
	<%= image_tag 'popup/tit_h1_release_check.gif', alt: 'リリース待機', width: 151, height: 18 %>
</h2>

<%= form_for( pa_link, html: { class: 'edit-form', multipart: true }) do |f| %>
	<%= hidden_field_tag :project_id, @project.id %> 
	<%= hidden_field_tag :track, @start_time %>	 	 
	  	 
	<table>
		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :charge_name, '担当名:' %></div></div>
			</td>

			<td>
				<div class="d_ht">
					<div class="frm">							 
						<%= pa_link.work.charge_name %>
					</div>
				</div>
			</td>
		</tr>

		<tr>
				<td>
					<div class="t_ht"><div class="txt"><%= f.label :contact, '連絡事項:' %></div></div>
				</td>

				<td>
					<div class="d_ht">
						<div class="frm">	
							<% if pa_link.work.present? %>
								<%= f.text_area :contact, value: pa_link.work.contact %>
							<% else %>
								<%= f.text_area :contact  %>	
							<% end %> 								  
						</div>
					</div>
				</td>
		</tr> 
		<tr>
			<td><div class="t_ht"><div class="txt"><label>添付：</label></div></div></td>
			<td>
				<div class="d_ht">
					<div class="frm">
						<%= f.file_field :attached_file %>
						<% unless pa_link.work.file_name.blank? %> 
							<div class="file1">
								・ <a href="<%= pa_link.work.attached_file %>">
									<%= pa_link.work.file_name %>
								  </a>
							</div>
						<% end %>	
					</div>
				</div>
			</td>
		</tr>
	</table>
<!-- Radio -->
<div class="innerStepRadio clearfix">
	<div id="sts">
	    <%= f.label '進捗：' %>
	    <label>
	      <%= radio_button_tag :process, 'リリース後チェック完了' %>
	      <p class="nam">リリース後チェック完了</p>
	    </label>
	 
	    <span id="p_error">Please check!</span> 
	</div>
</div>
<%= render partial:"edit/update_btn", locals: {f: f, pa_link: pa_link} %>
<% end %>
