<h2 class="popup"> 
	<%= dir_h2_title(work_count) %>
</h2>
 
<%= form_for( pa_link, html: { class: 'edit-form', multipart: true }) do |f| %>
	 <%= hidden_field_tag :project_id, @project.id %> 
	 <%= hidden_field_tag :track, @start_time %>
	  
	<table>
		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :charge_name, '担当名:' %></div></div>
			</td>

			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if pa_link.work.present? %>
							<%= pa_link.work.charge_name %>
						<% else %>
							<%= f.text_field :charge_name %>
						<% end %>
					</div>
				</div>
			</td>

			<td>	
				<div class="t_ht"><div class="txt"><%= f.label :release_date, 'リリース日：' %></div></div>
			</td>

			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if pa_link.work.present? %>
							<%= f.text_field :release_date, value: pa_link.work.release_date.strftime("%y-%m-%d-%I") %>
						<% else %>
							<%= f.text_field :release_date  %>
						<% end %> 
					</div>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :submit_date, '提出日（札幌）:' %></div></div>
			</td>

			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if pa_link.work.present? %>
							<%= f.text_field :submit_date, value: pa_link.work.submit_date.strftime("%y-%m-%d-%I") %>
						<% else %>
							<%= f.text_field :submit_date %>
						<% end %>
					</div>
				</div>
			</td>

			<td>
				<div class="t_ht"><div class="txt"><%= f.label :testup, 'テストアップ:' %></div></div>
			</td>

			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if pa_link.work.present? %>
							<%= f.text_field :testup, value: time_format(pa_link.work.testup) %>
						<% else %>
							<%= f.text_field :testup  %>
						<% end %>
					</div>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :urls, '対象URL:' %></div></div>
			</td>

			<td colspan = 3>
				<div class="d_ht">
					<div class="frm">
						<% if pa_link.work.present? %>
							<%= f.text_area :urls, value: pa_link.work.urls  %>
						<% else %>
							<%= f.text_area :urls %>
						<% end %>

					</div>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="t_ht"><div class="txt"><%= f.label :contact, '作業内容:' %></div></div>
			</td>

			<td colspan = 3>
				<div class="d_ht">
					<div class="frm">
						<% if pa_link.work.present? %>
							<%= f.text_area :contact, value: pa_link.work.contact  %>
						<% else %>
							<%= f.text_area :contact %>
						<% end %>

					</div>
				</div>
			</td>


		</tr>
		<tr>
			<td><div class="t_ht"><div class="txt"><label>添付：</label></div></div></td>
				<td>
				<div class="d2_ht">
					<div class="frm">
						<%= f.file_field :attached_file %>
						<% unless pa_link.work.file_name.blank? %> 
							<div class="file1">
								・ <a href="<%= pa_link.work.attached_file %>">
									<%= pa_link.work.file_name %>
								  </a>
							</div>
						<% end %>	
					</div>
				</div>
			</td>

			<td>	
				<div class="t_ht"><div class="txt"><%= f.label :estimation, '見込み工数:' %></div></div>
			</td>
			<td>
				<div class="d2_ht">
					<div class="txt">
						<% if pa_link.work.present? %>
							<%= f.text_field :estimation, value: pa_link.work.estimation %>
						<% else %>
							<%= f.text_field :estimation, placeholder: 'h（修正がある場合)' %>
						<% end %>
					</div>
				</div>
			</td>
		</tr>
	</table> 
<!-- Radio -->
<div class="innerStepRadio clearfix">
	<div id="sts">
	    <%= f.label '進捗：' %>
	    <label>
	      <%= radio_button_tag :process, '着手可' %>
	      <p class="nam">着手可</p>
	    </label>

	    <label>
	      <%= radio_button_tag :process, '画像等・準備中' %>
	      <p class="nam">画像等、準備中</p>
	    </label> 
	     <span id="p_error">Please check!</span>
	</div>
</div>

<%= render partial:"edit/update_btn", locals: {f: f, pa_link: pa_link} %>
<% end %>
